.wrapper {
  display: flex;
  padding-top: 20px;
}

.collapsible {
  overflow: hidden;
  font-weight: 500;

  .label-collapse{
    position: relative;
    font-weight: 500;
    font-size: 18px;
    color: white;
    background: #FF6060;
    box-shadow: 0 5px 11px 0px rgba(0,0,0, .1), 0 4px 11px 0 rgba(0,0,0, .08);
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    //margin-bottom: 10px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1;
    height: 30px;
    
    .arrow-icon { 
      width: 32px;
      height: 32px;
      transition: all 0.3s ease;
      padding-top: 5px;
    
    }
  }

  input {
    display: none;
  }
}

.collapsible label:after{
  content: '';
  position: absolute;
  right: 15px;
  top: 15px;
  width: 18px;
  height: 18px;
  background: url(../../Assets/arrow_forward.png) no-repeat 0 0 ;
  transition: all 0.3s ease;
}

.collapsible input:checked + label .arrow-icon {
  transform: rotate(90deg);
}

.collapsible-text {
  max-height: 1px;
  overflow: hidden;
  border-radius: 4px;
  line-height: 1.4;
  position: relative;
  top: -100%;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.collapsible input:checked ~ .collapsible-text{
  max-height: 300px;
  padding-bottom: 15px;
  background: #F6F6F6;
  box-shadow: 0 5px 11px 0px rgba(0,0,0, .1), 0 4px 11px 0 rgba(0,0,0, .08);
  opacity: 1;
  top: 0;
  font-weight: 400;
  font-size: 18px;

  ul{
    color: #FF6060;
    list-style-type: none;
    padding: 0 20px;
  }
}

.collapsible-text p {
  padding: 0 20px;
  color: #FF6060;
}