.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 70px;
    overflow: hidden;

    .navigationLink{
        display: flex;
        justify-content: flex-end;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li { 
            display: inline-block;
        }

        a {
            display: block;
            padding: 10px 20px;
            text-decoration: none;
            color: #ff6060;
            font-size: 24px;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .logoKasa {
        width: 210px;
        height: 68px;
    }

}


@media screen and (max-width: 768px) {

    .Header{
        padding: 20px;
        width: fit-content;
        gap: 40px;
        
        .logoKasa{
            width: 145px;
            height: 45px;
        }

        .navigationLink{

            a {
                font-size: 12px;
                text-transform: uppercase;
                padding: 0;
            }

            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 25px;
            }
        }
    

    }


}