.Footer {
    background-color: black;
    width: 100%;
    height: 210px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    margin-top: 40px;

    .FooterQuote {
        font-size: 24px;
        color: white;
        font-weight: 500;
    }

    .logoKasaFooter {
        height: 40px;
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    .Footer {
        margin-top: 20px;
        

        .FooterQuote{
            font-size: 12px;
            width: 130px;
            align-items: center;
            text-align: center;
        }
    }
}