body{
  //  display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Montserrat;
    height: 100%;
    max-width: 1450px;
    width: 100%;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
}

